<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/catalog/css/bootstrap.min.css">

</head>
<body>
{% include 'catalog/includes/header.html' %}
{% block content %} {% endblock %}
{% include 'catalog/includes/footer.html' %}
<script type="text/javascript" src="/static/catalog/js/bootstrap.min.js"></script>
</body>
</html>